* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template: 100px 1fr / minmax(250px, 1fr) 4fr;
    height: 100vh;
}

ul {
   list-style: none; 
}

li a {
    text-decoration: none;
}

.sidebar {
    background-color: #006eff;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar div {
    margin-bottom: 1em;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
}

.main {
    background-color: grey;
    grid-area: 2 / 2 / 3 / 3;
}